@model List<Auction>
<h2>Auctions</h2>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    @foreach (var i in Model)
    {
        <div class="col">
                <a class="link-dark text-decoration-none" asp-route-id="@i.Id" asp-controller="Home" asp-action="Auction">
                    <div class="card h-100 text-start">
                        <div class="position-relative clock-js" data-timestamp="@(((DateTimeOffset)i.TimeEnd.Date).ToUnixTimeSeconds())">
                            <img src="@i.Venichle.MainPhotoURL" class="card-img-top overflow-hidden bg-black" style="height: 200px;">
                            <p class="position-absolute bottom-0 start-0 bg-dark text-white ms-2 rounded px-2 py-1"><i class="bi bi-clock"></i> <span class="countdown me-3"></span> Bid $@i.CurrentPrice</p>
                        </div>
                        <div class="d-flex justify-content-between mt-3">
                            <div>
                                <h5 class="card-title fw-bold mb-1">@i.Name</h5>
                                <p class="card-subtitle mb-1 fs-6">@i.MinDescription</p>
                                <p class="card-subtitle mb-1 fs-6 text-secondary">@i.CityNow</p>
                            </div>
                        <a class="link-dark text-decoration-none watchlist-btn ms-3 me-2" asp-area="" asp-controller="Home" asp-action="Privacy">
                                <i class="bi bi-star"></i>
                            </a>
                        </div>
                    </div>
                </a>
        </div>
    }
</div>